.body {
  background-color: rgb(10 40 95);
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.pokeDiv {
  flex: content;
  padding: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(0 117 190);
}

.pokemons {
  width: 140px;
  height: 220px;
  flex-direction: row;
  display: inline-block;
  background-color: rgb(255 204 0);
  border-color: rgb(213 161 0);
  border-style: outset;
  color: black;
}