.bodyInfo {
  background-color: rgb(220, 10, 45);;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding: 20px;
  padding-top: 10px;
  color: #DEDEDE;
  height:100%;
  width: 100%;
  position:absolute;
}

.screens {
  display: flex;
  flex-flow: center;
  justify-content: center;
  align-items: center;
}

.backgroundInfo {
  background-color: #DEDEDE;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #232323;
  border-radius: 0% 0% 0% 15%;
  width: 200px;
  height: 190px;
  align-items: center;
  text-align: center;
  color: #DEDEDE;
}

.name{
  padding-top: 3px;
}

.backgroundStatus {
  background-color: #DEDEDE;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #232323;
  border-radius: 0% 0% 15% 0%;
  width: 200px;
  height: 190px;
  align-items: center;
  text-align: center;
  color: #000;
}

.screenStatus {
  background-color: #232323;
  margin-top: 15px;
  padding: 10px;
  color: #DEDEDE;
  height: auto;
  overflow: auto;
  white-space: nowrap;
}

.status {
  padding-top: 5px;
  margin: 0px;
  text-align: left;
}

.typeControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.typeContainer {
  justify-content: center;
  text-align: center;
  background-color: #DEDEDE;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #232323;
  width: 350px;
  color: black;
}

h3 {
  justify-content: center;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 2px;
}

.type {
  justify-content: center;
  text-align: center;
  background-color: #232323;
  padding: 10px;
  height: auto;
}