.bodyInfo {
  background-color: rgb(220, 10, 45);;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  padding: 20px;
  padding-top: 10px;
  color: #DEDEDE;

}

.backgroundInfo {
  background-color: #DEDEDE;
  padding: 20px;
  padding-top: 5px;
  border: 2px solid #232323;
  border-radius: 0% 0% 0% 15%;
  width: 150px;
  align-items: center;
  text-align: center;
  color: #DEDEDE;
}

.name{
  padding-top: 8px;
}

.screenPokemon {
  background-color: #232323;
}
