.pokeLoad {
  flex: content;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 15px;
  margin-top: 45px;
  margin-bottom: 20px;
}

.loader-wrapper {
  width: 60px;
  height: 60px;
}

.loader {
  box-sizing:  border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #000000;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

.loader-inner{
  border-right-color: #FFF;
  border-top-color: #FFF;
  border-left-color: #FB1B1B;
  border-bottom-color: #FB1B1B;
  animation-duration: 2.5s;
}

.center{
  box-sizing:  border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #000000;
  border-radius: 50%;
  animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
  0%{
    transform: scale(1) rotate(360deg);
  }
  50%{
    transform: scale(.8) rotate(-360deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}